<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let diag of diagnose">
    <ion-card-header>
      <ion-img src="../../../assets/images/doghurt.jpg"></ion-img>
      <ion-card-title>{{diag.title}}</ion-card-title>
      <ion-card-subtitle>{{diag.description}}</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">

        <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
          </ion-button>
            {{diag.comments.length}}
        </ion-buttons>
 
    
        <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
        </ion-button>
          {{diag.likeCount}}
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-round-down"></ion-icon>
        </ion-button>
    
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>



</ion-content>
