

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let diag of diagnose, let i = index">
    <ion-card-header>
      <!-- <ion-img style="max-width: 256px;" src="../../../assets/images/doghurt.jpg"></ion-img> -->
      <ion-card-title>{{diag.title}} - [{{diag.tag}}]</ion-card-title>
      <ion-card-subtitle>{{diag.description}}</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">

        <ion-buttons slot="start">
          <ion-button (click)="addComment(i)">
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
          </ion-button>

            {{diag.comments.length}}
        </ion-buttons>
 
    
        <ion-buttons slot="end" >

          <ion-button (click)="upVote(i)">
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>

          {{diag.likeCount}}

        <ion-button (click)="downVote(i)">
          <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
        </ion-button>
    
        </ion-buttons>
      </ion-item>

      <div *ngFor="let comment of diag.comments">
        <ion-item class="animate__animated animate__fadeInDown">
          {{comment.owner}} - {{comment.content}}
        </ion-item>

      </div>



    </ion-card-content>

  </ion-card>



</ion-content>
