<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-item slot="end" lines="none">
      <ion-button >add</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let ques of question">
    <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
    </ion-button>
      {{ques}}
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-round-down"></ion-icon>
    </ion-button>

    </ion-buttons>
  </ion-item>

</ion-content>
