<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-title>Home</ion-title>

    <ion-button slot="end" (click)="logOut()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">

        <ion-avatar>
          <img src="https://image.flaticon.com/icons/svg/616/616554.svg">
        </ion-avatar>

        <ion-card-title padding>{{dogName}}</ion-card-title>
        <ion-card-subtitle>{{dogBreed}}</ion-card-subtitle>

      </ion-item>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <h2>To do:</h2> 
        <ion-button slot="end" (click)="openTOdo()">
          Add
        </ion-button>
      </ion-item>
    </ion-card-header>

    <ion-card-content *ngFor="let todo of todos">

      <ion-item lines="none">
        {{todo}}
      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
