ion-avatar{
    --border-radius:10px;
    width:100% !important;  
    height : 100% !important;  
    max-width: 128px !important;  //any size
    max-height: 128px !important; //any size
}

.image-center{
    margin:0 auto;
}

.card-content-md{
    padding: 0px;
}

.card-content-ios{
    padding: 0px;
}

p{
    font-size: 0.6rem;
}
