<ion-header>
  <ion-toolbar>
    <ion-backdrop visible="true">
    </ion-backdrop>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label> {{ 'REMINDER.date' | translate:params }}</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="{{ 'REMINDER.day' | translate:params }}"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label> {{ 'REMINDER.description' | translate:params }}</ion-label>
        <ion-input></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
