<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ 'REGISTER.information' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-item lines="none">
            <ion-label position="stacked">{{ 'LOGIN.username' | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'LOGIN.username_placeholder' | translate }}" name="username" [(ngModel)]="credentials.username" (ionChange)="regexUsername(credentials.username)"></ion-input>
            <ion-text color="danger">
              <h6 [hidden]="hiddenUsernameError"> {{ 'LOGIN.username_show_error' | translate }} </h6>
            </ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">{{ 'LOGIN.email' | translate }}</ion-label>
            <ion-input type="email" placeholder="{{ 'LOGIN.email_placeholder' | translate }}" name="email" [(ngModel)]="credentials.email" (ionChange)="regexEmail(credentials.email)" ></ion-input>
            <ion-text color="danger">
              <h6 [hidden]="hiddenEmailError"> {{ 'LOGIN.email_show_error' | translate }} </h6>
            </ion-text>
          </ion-item>
          
          <ion-item lines="none">
            <ion-label position="stacked">{{ 'LOGIN.password' | translate }}</ion-label>
            <ion-input type="password" placeholder="{{ 'LOGIN.password_placeholder' | translate }}" name="password" [(ngModel)]="credentials.password" (ionChange)="regexPassword(credentials.password)">
            </ion-input>
            <ion-text color="danger">
              <h6 [hidden]="passwordError"> {{ 'LOGIN.password_show_error' | translate }} </h6>
            </ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">{{ 'LOGIN.password_confirm' | translate }}</ion-label>
            <ion-input type="password" placeholder="{{ 'LOGIN.password_placeholder' | translate }}" name="password" (ionChange)="regexConfirmPassword($event)">
            </ion-input>
            <ion-text color="danger">
              <h6 [hidden]="hiddenConfirmPasswordError"> {{ 'LOGIN.password_confirm_show_error' | translate }} </h6>
            </ion-text>
          </ion-item>

          <ion-button class="ion-margin-top ion-padding-horizontal" (click)="register()" expand="block" >{{ 'LOGIN.sign_in' | translate }}</ion-button>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>
