<ion-header>

</ion-header>

<ion-content class="ion-padding">


  <ion-card *ngIf="register" class="ion-padding">
    <ion-input [(ngModel)]="createEmail" type="text" placeholder="email"></ion-input>

    <ion-input [(ngModel)]="createPassword" type="password" placeholder="password"></ion-input>
    
    <ion-button (click)="createAccount()" color="primary" expand="full" shape="round" fill="outline">Createe</ion-button>

  </ion-card>


  <ion-card *ngIf="!register" class="ion-padding">

    <ion-input [(ngModel)]="signInEmail" type="text" placeholder="email"></ion-input>

    <ion-input [(ngModel)]="signInPassword" type="password" placeholder="password"></ion-input>
  
    <ion-button (click)="signIn()" color="primary" expand="full" shape="round" fill="outline">Sign In</ion-button>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="login">
      <ion-segment-button value="login" (click)="checkIfUserKnowsSecretPassphase()">
        <ion-icon name="log-in"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-icon name="person-add"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  
</ion-footer>