<ion-header (click)="openModal()">

  <ion-item>
    <ion-select value="{{selected}}" class="ion-padding-end" cancelText="Cancel" okText="Confirm">
      <ion-select-option value="{{selected}}">{{selected}}</ion-select-option>
      <ion-select-option *ngFor="let breed of dogBreed" value="{{breed.name}}"> {{breed.name}} </ion-select-option>
    </ion-select>
  </ion-item>




</ion-header>

<ion-content> 

  <ion-card (click)="openDiagnose()">
    <ion-card-header class="ion-padding">
      <ion-img src="../assets/icon/diagnose-new-icon.svg" ></ion-img>
      <ion-card-title>Diagnose my Dog</ion-card-title>
      <ion-card-subtitle> 0 diagnoses</ion-card-subtitle>


    </ion-card-header>
  </ion-card>

  <!-- Items down there are hidden -->
  <ion-card class="ion-hide">
    <ion-card-header class="ion-padding">
      <ion-img src="../assets/icon/forum-icon.svg" ></ion-img>
      <ion-card-title> Have a question?</ion-card-title>
      <ion-card-subtitle>0 questions</ion-card-subtitle>

    </ion-card-header>
  </ion-card>

  <ion-card class="ion-hide">
    <ion-card-header class="ion-padding">
      <ion-img src="../assets/icon/tips-icon.svg" ></ion-img>
      <ion-card-title> Shere your tips</ion-card-title>
      <ion-card-subtitle>0 tips</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
