<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>
            <ion-searchbar placeholder=""></ion-searchbar>
          </ion-col>
          <ion-col>

            <ion-row class="rowAlignment">
              <ion-col >All</ion-col>
              <ion-col ><ion-icon src="../assets/icon/dog-course-icon.svg"></ion-icon></ion-col>
              <ion-col ><ion-icon src="../assets/icon/user-icon.svg"></ion-icon></ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
        
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-card>
        <img src="../../../assets/images/training.jpg">
        <ion-card-header class="ion-padding">
          <ion-card-title>Dog Behavior1</ion-card-title>
          <ion-card-subtitle>This course is free!</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="../../../assets/images/training.jpg">
        <ion-card-header class="ion-padding">
          <ion-card-title>Dog Behavior2</ion-card-title>
          <ion-card-subtitle>This course is free!</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  


</ion-content>
